_build
rebar.lock
.eunit/*
erl_crash.dump
edoc-info
*.beam
*.boot
users/*.dat
livings/*.dat
*.script
*.swp
*.tar.gz
*~
rel/erlymud
.rebar/
data/*
deps/*
ebin/*.app
ebin/*.beam
lmud-*.boot
lmud-*.rel
lmud-*.script
game-data
