{erl_opts, [
   debug_info
]}.

{lfe_opts, [
   {i,"_build/default/lib"},
   {i, "./apps"}
]}.

{deps, [
   {lfe, "2.0.1"},
   {lutil, "0.13.0"},
   {mud_parser, {git, "https://github.com/lfex/mud_parser.git", {tag, "0.2.1"}}},
   {color, {git, "https://github.com/julianduque/erlang-color.git", {tag, "v1.0.0"}}},
   {proper, "1.4.0"}
  ]}.

{plugins, [
    {rebar3_lfe, "0.3.2"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {lfe, compile}}
    ]}
]}.

{relx, [
    {release, {'lmud', "0.5.0-dev"}, [
        'lmud',
        lfe,
        sasl
    ]},

    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"},

    {dev_mode, true},
    {include_erts, false},

    {extended_start_script, true},

    {overlay, [{copy, "data", "data"}]}
]}.