{erl_opts, [debug_info]}.
{deps, [
   {lfe, "0.8.0", {git, "git://github.com/rvirding/lfe.git", {tag, "v0.8"}}},
   {mud_parser,
     "0.2.1", {git, "git://github.com/lfex/mud_parser.git", {tag, "0.2.1"}}},
   {color,
     "0.2.0",
     {git, "git://github.com/julianduque/erlang-color.git",
       {tag, "v0.2.0"}}},
   {proper,
     "1.1", {git, "git://github.com/manopapad/proper.git", {tag, "v1.1"}}}
  ]}.

