[
 {sasl, [
   %% write log files to sasl_dir
   {sasl_error_logger, {file, "log/sasl-error.log"}},
   {errlog_type, error},
   {error_logger_mf_dir, "log/sasl"},      % Log directory
   {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
   {error_logger_mf_maxfiles, 5}           % 5 files max
  ]},
  {kernel, [
    {logger, [
        {handler, default, logger_std_h,
         #{formatter => {logjam, #{
            map_depth => 3,
            term_depth => 50,
            colored => true,
            time_designator => $\s,
            time_offset => "",
            time_unit => second,
            strip_tz => true,
            level_capitalize => true
          }}}
        }
    ]},
    {logger_level, info}
 ]},
 {lmud, [
   {port, 1203},
   {acceptors, 3}
 ]}
].
