name: Erlang CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:

  build:

    runs-on: ubuntu-latest

    container:
      image: erlang:22.0.7

    steps:
    - uses: actions/checkout@v3
    - name: Compile Erlang
      run: rebar3 compile
    - name: Compile LFE
      run: rebar3 lfe compile
    - name: Run unit tests
      run: rebar3 eunit
    - name: Create Release
      run: rebar3 release